.titleWraper {
  background-color: #eef8ff!important;
}

.carouselDot {
  padding-top: 20px;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
  background: hsla(0,0%,100%,.3);
  border-radius: 40px;
  width: 100%;
  text-align: center;
}

.carouselDot li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
  padding: 0;
}

.carouselDot li button {
  border: none;
  background: #e79413;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
}

.carouselDot li:global(.slick-active) button {
  background-color: #00acc1;
}

.carouselDot li button:hover,
.carouselDot li button:focus {
  background: #00acc1;
  outline: 0;
}